:root {
    --f-color-primary: #1976D2;
    --f-color-secondary: #a7f8f0;
    --f-color-accent: #e5adef;
    --f-color-positive: #21BA45;
    --f-color-negative: #f4b3ba;
    --f-color-info: #f5b18a;
    --f-color-warning: #F2C037;
    --f-color-dark: #1D1D1D;
    --f-color-dark-page: #121212;
    --f-color-pink: pink;
}